## **IBM HR Employee Attrition Analysis**
We are using IBM HR Analytics Employee Attrition dataset to find if there is a relationship between JobSatisfaction and Attrition (leaving the company)?

In [ ]:
# Importing essential libraries
import pandas as pd
from scipy import stats

In [ ]:
# Loading the dataset
df = pd.read_csv('HR-Employee-Attrition.csv')

In [26]:
df.shape

(1470, 35)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [28]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
# Creating Contingency Table
table = pd.crosstab(df['Attrition'],df['JobSatisfaction'])
table

JobSatisfaction    1    2    3    4
Attrition
No               223  234  369  407
Yes               66   46   73   52

### **Statistical Testing**

**Hypothesis :** There is a relationship between JobSatisfaction and Attrition

**Null Hypothesis (H0) :** There is no significant association between the variables

**Alternate Hypothesis (H1) :** There is significant association between the variables

In [23]:
# Performing Chi-Square Test for Independence

chi2, p_value, dof, expected = stats.chi2_contingency(table)

print(f'Chi2 : {chi2}')
print(f'P-Value : {p_value}')
print('')

if p_value < 0.05:
    print('Reject Null Hypothesis : There is significant association between the variables')
else:
    print('Fail to Reject Null Hypothesis : There is no significant association between the variables')

Chi2 : 17.505077010348
P-Value : 0.0005563004510387556

Reject Null Hypothesis : There is significant association between the variables

- Highly Significant Link: The extremely low p-value ($0.000556$) provides strong evidence that job satisfaction and employee attrition are not independent. The relationship is statistically significant, meaning satisfaction levels are a reliable predictor of whether an employee will stay or leave.

- Low Satisfaction Drives Turnover: Employees reporting the lowest satisfaction (Level 1) had an observed attrition count of 66, which is significantly higher than the expected count of ~46. This indicates that "Low" satisfaction is a primary driver of employees exiting the company.High Satisfaction as a 

- Retention Tool: Conversely, employees with the highest satisfaction (Level 4) showed much lower attrition than expected (52 actual vs. ~74 expected). This confirms that maximizing job satisfaction is an effective strategy for reducing turnover.